


.icon{
    height: 40px;
    color:white;

}
.line{
    width: 100px;
     height: 7px;
      background-color: white;
      border-radius: 5px;
      position: absolute;
      left: 800px;
      top: 485px;
}